*.gz
canu
assembly_summary.txt
*.log
*.fna
*.faa
*.sam
*.bam

*.svg

## prokka results
*.gff
*.gff3
*.gtf
*.err
*.ffn
*.fsa
*.gbk
*.sqn
*.tbl

*.fastq
*.fq
*.fasta
*.fa
*.fq.gz
*.fastq.gz

## bwa db
*.amb
*.ann
*.bwt
*.pac
*.sa

## blast db data
*.ndb
*.nhr
*.nin
*.nsq
*.njs
*.nog
*.nos
*.nto
*.nsq
*.ntf
*.nto


